{% extends 'template.html' %}
{% block title %}About the Stevens book marketplace{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p class="text-primary text-left">
                <strong>Welcome to the Stevens book marketplace.</strong>
                <em>The purpose of this project is to create a book marketplace for the students of Stevens Institute of Technology.</em>
                We believe the features are robust and enjoyable to use. Please browse around for your courses and search for book availability. We hope your participation with this will improve your educational experience.
                <small>This solution was brought to you by the talented people listed below.</small>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel-group" id="panel-98210">
                <div class="panel panel-default">
                    <div class="panel-heading" data-slide-to="0" data-target="#carousel-13236">
                         <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-98210" href="#panel-element-226613">Phil Warmuz</a>
                    </div>
                    <div id="panel-element-226613" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                Development Lead
                                </div>
                                <div class="list-group-item">
                                Developer
                                </div>
                                <div class="list-group-item">
                                Documentation Administrator
                                </div>
                                <div class="list-group-item">
                                User Interface Design
                                </div>
                                <div class="list-group-item">
                                Tester
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-slide-to="1" data-target="#carousel-13236">
                         <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-98210" href="#panel-element-707229">Constantine Davantzis</a>
                    </div>
                    <div id="panel-element-707229" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                Architect
                                </div>
                                <div class="list-group-item">
                                Developer
                                </div>
                                <div class="list-group-item">
                                User Interface Design
                                </div>
                                <div class="list-group-item">
                                Documentation
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-slide-to="2" data-target="#carousel-13236">
                         <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-98210" href="#panel-element-707230">Sal Amato</a>
                    </div>
                    <div id="panel-element-707230" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                System Administrator
                                </div>
                                <div class="list-group-item">
                                Developer
                                </div>
                                <div class="list-group-item">
                                User Interface Design
                                </div>
                                <div class="list-group-item">
                                Documentation
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-slide-to="3" data-target="#carousel-13236">
                         <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-98210" href="#panel-element-707233">Miguel Camacho</a>
                    </div>
                    <div id="panel-element-707233" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                Test Lead
                                </div>
                                <div class="list-group-item">
                                Developer
                                </div>
                                <div class="list-group-item">
                                User Interface Design
                                </div>
                                <div class="list-group-item">
                                Documentation
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="carousel slide" id="carousel-13236">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-13236" class="active">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-13236">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-13236">
                    </li>
                    <li data-slide-to="3" data-target="#carousel-13236">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg">
                        <div class="carousel-caption">
                            <h4>
                                Phil Warmuz
                            </h4>
                            <p>
                                Phil has successfully lead the team for the SSW 690 project. He worked closely with Sal
                                to provide solutions for the frontend with AngularJS and refactored code to maintain productivity.
                                He graduated NJIT with a Bachelor of Science in Management of Information Systems. He has 6 years of
                                work experience in finance.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg">
                        <div class="carousel-caption">
                            <h4>
                                Constantine Davantzis
                            </h4>
                            <p>
                                Constantine has successfully designed the architecture for the SSW 690 project. He programmed the
                                back end of the project. He is getting a Bachelor of Engineering in "Computer Engineering",
                                a graduate certificate in "Software Design for Embedded and Information Systems",
                                and a Master of Science in "Software Engineering". He has extensive Python experience and successfully
                                implemented solutions for business projects.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg">
                        <div class="carousel-caption">
                            <h4>
                                Sal Amato
                            </h4>
                            <p>
                                Sal has successfully administrated the server for the SSW 690 project. He programmed the front end of the
                                project which primarily utilized AngularJS. Highly motivated, Sal enjoys challenging himself and implements a
                                wide variety of utility to promote a productive and cohesive work environment. He is currently a
                                Software Engineer working in Finance.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg">
                        <div class="carousel-caption">
                            <h4>
                                Miguel Camacho
                            </h4>
                            <p>
                                Miguel is the new member to the team with four years of software engineering experience.
                                Miguel has an extensive ten years of experience in civil engineering. Miguel has a bachelors
                                in Computer Science and Construction Management. He will be the lead tester for the current project.
                            </p>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-13236" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-13236" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>
                We hope you enjoy using the Stevens book marketplace.
            </h2>
            <p>
                Created 2017 for SSW 695 at Stevens Institute of Technology with mentoring from Dr. Vesonder.
            </p>
        </div>
    </div>
</div>
{% endblock %}

