{% extends 'template.html' %}
{% block title %}Welcome to Stevens Book Marketplace{% endblock %}
{% block content %}

    <!-- Main Section -->
    <section id="listing" class="listing-section">
        {% include 'listing.html' %}
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        {% include 'about.html' %}
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        {% include 'contact.html' %}
    </section>

{% endblock %}
