{% extends 'template.html' %}
{% block title %}Welcome to Stevens Book Marketplace{% endblock %}
{% block content %}
    <!-- Search Section -->
    <section id="stv-search">
        <div class="jumbotron text-center">
            <h1><strong>Stevens Book Marketplace</strong></h1>
            <form action="/" class="form-inline" method="get">
                <div class="input-group ">
                    <input type="search" name="search" id="jumbo-search" class="form-control" size="50 "
                           placeholder="Search by book title or by class " value="{{ search_input }}">
                    <div class="input-group-btn ">
                        <button class="btn btn-default " type="submit" value="send">
                            <i class="glyphicon glyphicon-search "></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Listing Section -->
    <section id="stv-listing">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-stevens">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% if search_input %}
                                    Course results for "{{ search_input }}"
                                {% else %}
                                    Most Popular Courses
                                {% endif %}
                                <span class="badge" style="float:right">{{ courses|count }}</span>
                            </h3>
                        </div>
                        <ul class="list-group">
                            {% for course in courses %}
                                <a class="list-group-item"
                                   href="{{ url_for("courses.display_course", letter = course.letter, number = course.number) }}">
                                    {{ course.letter }}-{{ course.number }} {{ course.name }}
                                </a>
                            {% else %}
                                <div style="text-align: center;padding: 6px 6px 6px 6px">No courses found...</div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-stevens">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% if search_input %}
                                    Book results for "{{ search_input }}"
                                {% else %}
                                    Most Popular Books
                                {% endif %}
                                <span class="badge" style="float:right">{{ books|count }}</span>
                            </h3>
                        </div>
                        <ul class="list-group">
                            {% for book in books %}
                                <a class="list-group-item" href={{ url_for("books.display_book", isbn = book._id) }}>
                                    {{ book.get('google-metadata', {}).get('volumeInfo', {}).get("title") | default(book.get('stevens-metadata', {}).get('books-title'), True) }}
                                    <span class="badge">{{ book._id }}</span>
                                </a>
                            {% else %}
                                <div style="text-align: center;padding: 6px 6px 6px 6px">No books found...</div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
