<!-- Jumbotron Search Section -->
<div class="jumbotron text-center">
    <h1><strong>Stevens Book Marketplace</strong></h1>
    <form class="form-inline ">
        <div class="input-group ">
            <input type="search" id="course-search" class="form-control" size="50 " placeholder="Search for books or by class ">
            <div class="input-group-btn ">
                <button class="btn btn-default " type="submit ">
                    <i class="glyphicon glyphicon-search "></i>
                </button>
            </div>
        </div>
    </form>
</div>
