{% extends 'template.html' %}
{% block title %}Your profile with Stevens Book Marketplace{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-7">
<!--    Account information panel
        Remember me maybe useless, It's intent to to let people stay logged in when they close the page.
        Disable books notification is an option that allows users to get emails about books prompts
-->
			<form class="form-horizontal" role="form">
				<div class="form-group">

					<label class="col-sm-2 control-label">
						Email
					</label>
                    <label class="col-sm-10 control-label text-left">
						{{ current_user.id }}
					</label>
				</div>
				<div class="form-group">

					<label for="changePassword" class="col-sm-2 control-label">
						Password
					</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="changePassword" />
					</div>
				</div>
                <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">
							Change Password
						</button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-5">
						<div class="checkbox">
							<label>
								<input type="checkbox" /> Remember me
							</label>
						</div>
					</div>
                    <div class="col-sm-offset-2 col-sm-5">
						<div class="checkbox">
							<label>
								<input type="checkbox" /> Disable Book Notification
							</label>
						</div>
					</div>
				</div>

			</form>
		</div>
		<div class="col-md-4">
<!--    Top left settings panel, also includes alert prompts-->
			<h3 class="text-left">
				Your Settings
			</h3>
			<p>
				Welcome back! {{ current_user.name }}
			</p>
			<p><strong>Your Rating</strong>
				{% if current_user.rating < 2 %}
					<span class="label pull-right label-danger">{{ current_user.id | current_stars}} Ducks</span>
				{% elif current_user.rating > 3 %}
					<span class="label pull-right label-success">{{ current_user.id | current_stars}} Ducks</span>
				{% else %}
					<span class="label pull-right label-warning">{{ current_user.id | current_stars}} Ducks</span>
				{% endif %}
			</p>
			<div class="alert alert-warning alert-dismissable">

				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
					×
				</button>
				<h4>
					Message:
				</h4> <strong>Suggestion</strong> You may want to re-enable Book Notifications
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div id="success_alert" class="alert alert-success alert-dismissible" role="alert" style="display:none;">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong id="notice_success"> </strong>
			</div>
			<div id="error_alert" class="alert alert-danger alert-dismissible" role="alert" style="display:none;">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong id="notice_error"> </strong>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-7">
<!--    Panels relevant to books information
-->
			<div class="tabbable" id="tabs-844128">
				<ul class="nav nav-tabs">
					<li class="profile-tabs active">
						<a href="#panel-listed" data-toggle="tab" class="stevens-bg">Books Listed <span id="listed-value" class="badge pull-right">{{ my_listed_count }}</span></a>
					</li>
					<li class="profile-tabs">
						<a href="#panel-negotiation" data-toggle="tab" class="stevens-bg">Current Transaction <span id="negotiation-value" class="badge pull-right">{{ my_negotiation_count }}</span></a>
					</li>
					<li class="profile-tabs">
						<a href="#panel-sold" data-toggle="tab" class="stevens-bg">Books Sold <span id="sold-value" class="badge pull-right">{{ my_sold_count }}</span></a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-listed">
						<table id="my_books_listed" class="table table-bordered table-condensed table-hover" data-toggle="table">
							<thead class="stevens-bg">
							<tr>
								<th data-field="seller" data-sortable="true">
									Book
								</th>
								<th data-field="date_listed" data-sortable="true">
									Date Listed
								</th>
								<th data-field="condition" data-sortable="true">
									Condition
								</th>
								<th data-field="price" data-sortable="true">
									Price
								</th>
							</tr>
							</thead>
							<tbody>
                            {% for book in my_listed %}
                                <tr class="active">
                                    <td>
                                        <a href="books/{{ book.get('isbn') }}">{{ book.get('isbn', "") | isbn_to_title }}</a> <span class="badge pull-right">{{ book.get('isbn', "") }}</span>
                                    </td>
                                    <td>
                                        {{ book.get('date_listed', "") }}
                                    </td>
                                    <td>
                                        {{ book.get('condition', "") }}
                                    </td>
                                    <td>
                                        {{ book.get('price', "") }}
                                    </td>
                                </tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>

					<div class="tab-pane" id="panel-negotiation">
						<table id="my_books_transaction" class="table table-bordered table-condensed table-hover" data-toggle="table">
							<thead class="stevens-bg">
							<tr>
								<th data-field="buyer" data-sortable="true">
									Buyer <small>(You as the seller)</small>
								</th>
								<th data-field="isbn" data-sortable="true">
									Book
								</th>
								<th data-field="date_listed" data-sortable="true">
									Date Listed
								</th>
								<th data-field="price" data-sortable="true">
									Price
								</th>
								<th data-field="details" data-sortable="false">
									Details
								</th>
								<th data-field="negotiation" data-sortable="false">
									Negotiation
								</th>
							</tr>
							</thead>
							<tbody>

							{% for book in seller_negotiation %}
							<tr class="active">
								<td>
									{{ book.get('buyer', "") }}
								</td>
                                <td>
                                    <a href="books/{{ book.get('isbn') }}">{{ book.get('isbn', "") | isbn_to_title }}</a> <span class="badge pull-right">{{ book.get('isbn', "") }}</span>
                                </td>
								<td>
									{{ book.get('date_listed', "") }}
								</td>
								<td>
									{{ book.get('price', "") }}
								</td>
								<td>
									<button type="button" data-id="{{ book.get('_id', '') }}" class="btn btn-default details_button">Details</button>
								</td>
								<td>
									{% if current_user.check_my_closure(book.get('_id')) %}
									<button type="button" data-id="{{ book.get('_id', '') }}" class="btn btn-default" disabled>Close</button>
									{% else %}
									<button type="button" data-id="{{ book.get('_id', '') }}" class="btn btn-default close_button">Close</button>
									{% endif %}

								</td>
							</tr>
							{% endfor %}

							</tbody>
						</table>
						<!-- You as the Buyer -->
						<table id="my_books_transaction" class="table table-bordered table-condensed table-hover" data-toggle="table">
							<thead class="stevens-bg">
							<tr>
								<th data-field="Seller" data-sortable="true">
									Seller <small>(You as the buyer)</small>
								</th>
								<th data-field="isbn" data-sortable="true">
									Book
								</th>
								<th data-field="date_listed" data-sortable="true">
									Date Listed
								</th>
								<th data-field="price" data-sortable="true">
									Price
								</th>
								<th data-field="details" data-sortable="false">
									Details
								</th>
								<th data-field="negotiation" data-sortable="false">
									Negotiation
								</th>
							</tr>
							</thead>
							<tbody>

							{% for book in buyer_negotiation %}
							<tr class="active">
								<td>
									{{ book.get('seller', "") }}
								</td>
                                <td>
                                    <a href="books/{{ book.get('isbn') }}">{{ book.get('isbn', "") | isbn_to_title }}</a> <span class="badge pull-right">{{ book.get('isbn', "") }}</span>
                                </td>
								<td>
									{{ book.get('date_listed', "") }}
								</td>
								<td>
									{{ book.get('price', "") }}
								</td>
								<td>
									<button type="button" data-id="{{ book.get('_id', '') }}" class="btn btn-default details_button">Details</button>
								</td>
								<td>
									{% if current_user.check_my_closure(book.get('_id')) %}
									<button type="button" data-id="{{ book.get('_id', '') }}" class="btn btn-default" disabled>Close</button>
									{% else %}
									<button type="button" data-id="{{ book.get('_id', '') }}" class="btn btn-default close_button">Close</button>
									{% endif %}
								</td>
							</tr>
							{% endfor %}

							</tbody>
						</table>
					</div>

					<div class="tab-pane" id="panel-sold">
						<table id="my_books_sold" class="table table-bordered table-condensed table-hover" data-toggle="table">
							<thead class="stevens-bg">
							<tr>
								<th data-field="buyer" data-sortable="true">
									Buyer
								</th>
								<th data-field="seller" data-sortable="true">
									Seller
								</th>
								<th data-field="isbn" data-sortable="true">
									Book
								</th>
								<th data-field="date_sold" data-sortable="true">
									Date Sold
								</th>
								<th data-field="date_listed" data-sortable="true">
									Date Listed
								</th>
								<th data-field="condition" data-sortable="true">
									Condition
								</th>
								<th data-field="price" data-sortable="true">
									Price
								</th>
							</tr>
							</thead>
							<tbody>

							{% for book in my_sold %}
							<tr class="active">
								<td>
									{{ book.get('buyer', "") }}
								</td>
								<td>
									{{ book.get('seller', "") }}
								</td>
								<td>
                                    <a href="books/{{ book.get('isbn') }}">{{ book.get('isbn', "") | isbn_to_title }}</a> <span class="badge pull-right">{{ book.get('isbn', "") }}</span>
								</td>
								<td>
									{{ book.get('date_sold', "") }}
								</td>
								<td>
									{{ book.get('date_listed', "") }}
								</td>
								<td>
									{{ book.get('condition', "") }}
								</td>
								<td>
									{{ book.get('price', "") }}
								</td>
							</tr>
							{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
<!-- Information specific to books entries-->
			<h3 class="text-left">
				Book listings
			</h3>
			<div id="stv-duck">
			</div>
		</div>
	</div>
	<!-- Form -->
	<form id="transaction_form" method="post" class="form-horizontal" style="display:none;">
		<div class="col-xs-12">
			<ul class="list-group">
				<li class="list-group-item">Please rate the transaction</li>
				<li class="list-group-item"><input type="text" class="form-control" name="transaction_id" disabled="disabled" /></li>
				<li class="list-group-item">
					<select class="form-control user-rating">
						<option value="Cancel">Cancel Transaction - Failed to show up</option>
						<option value="1">* Duck Rating</option>
						<option value="2">** Duck Rating</option>
						<option value="3">*** Duck Rating</option>
						<option value="4">**** Duck Rating</option>
						<option value="5">***** Duck Rating</option>
					</select>
				</li>
			</ul>
		</div>
		<div class="form-group">
			<div class="col-xs-4 col-xs-offset-8">
				<button type="submit" class="btn btn-default">Close Transaction</button>
			</div>
		</div>
	</form>
	<!-- Form -->
	<form id="details_form" method="post" class="form-horizontal" style="display:none;">
		<div class="col-xs-12">
			<ul class="list-group">
				<li class="list-group-item">Transaction: <input type="text" class="form-control" name="transaction_id" disabled="disabled" /></li>
				<li class="list-group-item">Location:<input type="text" class="form-control" name="location" disabled="disabled" /></li>
				<li class="list-group-item">Meet Data:<input type="text" class="form-control" name="meet_date" disabled="disabled" /></li>
				<li class="list-group-item">Meet Time:<input type="text" class="form-control" name="time" disabled="disabled" /></li>
				<li class="list-group-item">Condition:<input type="text" class="form-control" name="condition" disabled="disabled" /></li>
			</ul>
		</div>
		<div class="form-group">
		</div>
	</form>
</div>
{% endblock %}

