{% extends 'template.html' %}
{% block title %}Your profile with Stevens Book Marketplace{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
<!--    Account information panel
        Remember me maybe useless, It's intent to to let people stay logged in when they close the page.
        Disable book notification is an option that allows users to get emails about book prompts
-->
			<form class="form-horizontal" role="form">
				<div class="form-group">

					<label class="col-sm-2 control-label">
						Email
					</label>
                    <label class="col-sm-10 control-label text-left">
						{{session['username']}}
					</label>
				</div>
				<div class="form-group">

					<label for="changePassword" class="col-sm-2 control-label">
						Password
					</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="changePassword" />
					</div>
				</div>
                <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">
							Change Password
						</button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-5">
						<div class="checkbox">
							<label>
								<input type="checkbox" /> Remember me
							</label>
						</div>
					</div>
                    <div class="col-sm-offset-2 col-sm-5">
						<div class="checkbox">
							<label>
								<input type="checkbox" /> Disable Book Notification
							</label>
						</div>
					</div>
				</div>

			</form>
		</div>
		<div class="col-md-4">
<!--    Top left settings panel, also includes alert prompts
-->
			<h3 class="text-left text-success">
				Your Settings
			</h3>
			<div class="alert alert-warning alert-dismissable">

				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
					×
				</button>
				<h4>
					Message:
				</h4> <strong>Suggestion</strong> You may want to re-enable Book Notifications
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div id="success_alert" class="alert alert-success alert-dismissible" role="alert" style="display:none;">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong id="notice_success"> </strong>
			</div>
			<div id="error_alert" class="alert alert-danger alert-dismissible" role="alert" style="display:none;">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong id="notice_error"> </strong>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
<!--    Panels relevant to book information
-->
			<div class="tabbable" id="tabs-844128">
				<ul class="nav nav-tabs">
					<li class="active">
                        <a href="#panel-954142" data-toggle="tab">Sell a book</a>
					</li>
					<li>
						<span class="badge pull-right">{{ my_listed_count }}</span><a href="#panel-640235" data-toggle="tab">Books Listed</a>
					</li>
					<li>
						<span class="badge pull-right">{{ my_sold_count }}</span><a href="#panel-640236" data-toggle="tab">Books Sold</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-954142">
<!--    Drop Downs should get unlocked as you progress with selections
        Drop Downs should not list all entries but rather focus down the tree

                        <div class="row">
		                    <div class="col-md-2">
                               <div class="dropdown">
                                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Department
                                  <span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Department 1</a></li>
                                    <li><a href="#">Department 2</a></li>
                                    <li><a href="#">Department 3</a></li>
                                  </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                               <div class="dropdown">
                                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Course
                                  <span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Course 1</a></li>
                                    <li><a href="#">Course 2</a></li>
                                    <li><a href="#">Course 3</a></li>
                                  </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                               <div class="dropdown">
                                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Book
                                  <span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Book 1</a></li>
                                    <li><a href="#">Book 2</a></li>
                                    <li><a href="#">Book 3</a></li>
                                  </ul>
                                </div>
                            </div>
-->
<!--    Search ISBN numbers
        Should also generate warnings if the ISBN is not linked to a course
-->
						<div class="row">
							<div class="col-md-8">
                                <form class="form-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control" size="13" id="ins_isbn" placeholder="Enter ISBN Number">
										<input type="text" class="form-control" size="6" id="ins_price" placeholder="Enter price">

										<div class="input-group-btn">
                                            <button class="btn btn-default" id="btn_isbn" type="submit" method="post">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
					</div>

					<div class="tab-pane" id="panel-640235">
						<table id="my_books_listed" class="table table-bordered table-condensed table-hover" data-toggle="table">
							<thead>
							<tr>
								<th data-field="seller" data-sortable="true">
									Book
								</th>
								<th data-field="date" data-sortable="true">
									Date listed
								</th>
								<th data-field="price" data-sortable="true">
									Price
								</th>
							</tr>
							</thead>
							<tbody>

							{% for book in my_listed %}
							<tr class="active clickable-row" data-href="book/{{ book.get('isbn') }}">
								<td>
									{{ book.get('isbn', "") }}
								</td>
								<td>
									{{ book.get('date', "") }}
								</td>
								<td>
									{{ book.get('price', "") }}
								</td>
							</tr>
							{% endfor %}

							</tbody>
						</table>
					</div>
					<div class="tab-pane" id="panel-640236">
						<table id="my_books_sold" class="table table-bordered table-condensed table-hover" data-toggle="table">
							<thead>
							<tr>
								<th data-field="buyer" data-sortable="true">
									Buyer
								</th>
								<th data-field="isbn" data-sortable="true">
									Book ISBN
								</th>
								<th data-field="date_sold" data-sortable="true">
									Date Sold
								</th>
								<th data-field="date_list" data-sortable="true">
									Date Listed
								</th>
								<th data-field="price" data-sortable="true">
									Price
								</th>
							</tr>
							</thead>
							<tbody>

							{% for book in my_sold %}
							<tr class="active">
								<td>
									{{ book.get('buyer', "") }}
								</td>
								<td>
									{{ book.get('isbn', "") }}
								</td>
								<td>
									{{ book.get('sold_date', "") }}
								</td>
								<td>
									{{ book.get('list_date', "") }}
								</td>
								<td>
									{{ book.get('price', "") }}
								</td>
							</tr>
							{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
<!-- Information specific to book entries
-->
			<h3 class="text-left text-success">
				Book listings
			</h3>
            <span class="badge pull-left">5</span><p><strong>Your Rating</strong></p>
			<form id="rate_form" class="form-inline" role="form">
				<div class="input-group ">
					<input type="text " id="rating_val" class="form-control " size="13 " placeholder="Enter rating">
					<div class="input-group-btn ">
						<button class="btn btn-default " id="rate_button" type="submit " method="post">
							<i class="glyphicon glyphicon-search "></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

