<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scrolling-nav.css') }}">

    <!-- Static minified Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <!-- googleapi minified JQuery js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js "></script>
    <!-- Static minified Bootstrap js -->
    <script type="text/javascript " src="{{ url_for( 'static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js' ) }} "></script>

    <!-- custom scripts -->
    <script type="text/javascript " src="{{ url_for( 'static', filename='js/scripts.js' ) }} "></script>
    <script type="text/javascript " src="{{ url_for( 'static', filename='js/sha256.js' ) }} "></script>
    <script type="text/javascript " src="{{ url_for( 'static', filename='js/jquery.easing.min.js' ) }} "></script>
    <script type="text/javascript " src="{{ url_for( 'static', filename='js/scrolling-nav.js' ) }} "></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {% include 'nav.html' %}
  {% block content %}
  {% endblock %}
</body>

</html>
