{% block content %}
<!-- TO BE DELETED WHEN FEATURE IS REVIEWED BY TEAM
-->
<div class="container ">
    <div class="row">
        <nav class="col-sm-12" >
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation"><a href="#">Course List</a></li>
                <!-- The reason why I like selling books badged here is because it's a motivator to sell,
                user has to login to see it, imo -PW -->
              <li role="presentation"><a href="#">Selling books <span class="badge">3</span></a></li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="list-group container" id="course-container">
                <!--    Temporary, We need a user database account, where we can query a count of the
                        top listings based on ISBN. I've created a get first 10 items from the DB to simulate.
                -->
                <div class="list-group-item active">Top Ten Listings</div>
                {% for book in listing %}
                    <div class="list-group-item">
                        {{ book.get('google-metadata', {}).get('volumeInfo', {}).get("title") | default(book.get('stevens-metadata', {}).get('book-title'), True) }}
                        <span class="badge">ISBN</span>
                        <span class="badge">IS Required</span>
                        <span class="badge">3</span>
                         <!-- this 3 represents book's available, needs new value which queries the count of the specific book listed -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
