{% extends 'template.html' %}
{% block title %}All Courses{% endblock %}
{% block content %}
    <style>
        .course-link {
            font-size: 11px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding-left: 0;
            display: block;
        }

        .department-section {
            padding: 10px 20px 10px 20px;
        }

    </style>

    <div class="container">
        <h2>Courses</h2>
        {% for department in departments %}
            <div class="panel panel-stevens">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ department['text'] }}
                    </h3>
                </div>
                <div class="panel-body">
                    {% set n = (department["children"]|length / 3) | round(method="ceil") | int %}
                    <div class="col-md-4">
                        {% for row in department["children"][0:n] %}
                            <a class="course-link" title="{{ row["text"] }}"
                               href="{{ url_for("courses.display_course", letter=row['a_attr']['data-letter'], number= row['a_attr']["data-number"]) }}">{{ row["text"] }}</a>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        {% for row in department["children"][n:n*2] %}
                            <a class="course-link" title="{{ row["text"] }}"
                               href="{{ url_for("courses.display_course", letter=row['a_attr']['data-letter'], number= row['a_attr']["data-number"]) }}">{{ row["text"] }}</a>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        {% for row in department["children"][n*2:] %}
                            <a class="course-link" title="{{ row["text"] }}"
                               href="{{ url_for("courses.display_course", letter=row['a_attr']['data-letter'], number= row['a_attr']["data-number"]) }}">{{ row["text"] }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
