{% extends 'template.html' %}
{% block title %}Departments{% endblock %}
{% block content %}
    <style>
        .course-link {
            font-size: 11px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding-left: 0;
            display: block;
        }

        .department-section{
            padding: 10px 20px 10px 20px;
        }

    </style>

    <div class="container">
        <h2>{{ course["letter"] }}-{{ course["number"] }}: {{ course["name"] }}</h2>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">Description</div>
            <div class="panel-body">
                {{ course["details"] }}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Books</div>
            <div class="panel-body">
                {% for book in books %}
                    <a class="media" href="/book/{{ book._id }}" >
                        {% set thumnail_url = book.get('google-metadata', {}).get('volumeInfo', {}).get('imageLinks', {} ).get("thumbnail") %}

                        {% if thumnail_url %}
                            <div class="media-left">
                                <img class="media-object" src="{{ thumnail_url }}" alt="...">
                            </div>
                        {%  endif %}

                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ book.get('google-metadata', {}).get('volumeInfo', {}).get("title") | default(book.get('stevens-metadata', {}).get('books-title'), True) }}
                                <small> {{ book.get('google-metadata', {}).get('volumeInfo', {}).get('subtitle', "") }} </small>
                            </h4>
                        </div>
                    </a>

                {% else %}
                    <strong>No books currently listed</strong>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
