{% extends 'template.html' %}
{% block title %}About the Stevens Book Marketplace{% endblock %}
{% block content %}
    <!--    Using http://plentz.github.io/jquery-maskmoney/
    -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                {% set thumnail_url = book.get('google-metadata', {}).get('volumeInfo', {}).get('imageLinks', {} ).get("thumbnail") %}

                {% if thumnail_url %}
                    <div class="media-left">
                        <img class="media-object" src="{{ thumnail_url }}" alt="...">
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>
                    <strong>{{ book.get('google-metadata', {}).get('volumeInfo', {}).get('title') | default(book.get('stevens-metadata', {}).get('books-title'), True) }}</strong>
                </h3>
                <dl>
                    <dt>
                        {{ book.get('google-metadata', {}).get('volumeInfo', {}).get('subtitle', "") }}
                    </dt>
                    <dd>
                        <small> {{ book.get('google-metadata', {}).get('volumeInfo', {}).get('description', '') }} </small>
                    </dd>
                    <dd>
                        <small>Pages: {{ book.get('google-metadata', {}).get('volumeInfo', {}).get('pageCount', '') }} </small>
                    </dd>
                    <!--
                    ISBN Identifiers removed
                    google-metadata.volumeInfo.industryIdentifiers.0.identifier are not consistent
                    some alternate incorrectly, books ISBN 0132431718 has a completely incorrect identifier
                    -->
                </dl>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-default btn-lg btn-block" href="{{ amazon_listing.get('url') }}" target="_blank">
                    Amazon: {{ amazon_listing.get('prices')[0] }}
                </a>
                <button type="button" class="btn btn-default btn-lg btn-block stv-btn-text-wrap">
                    <small>Stevens Price New: ${{ '{0:0.2f}'.format(book.get('stevens-pricing', {}).get('new', '0.00')) }}</small>
                </button>
                {% if current_user.is_authenticated %}
                 <form class="form-inline">
                    <div class="input-group stv-input-sell">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-md" id="btn_sell_book" type="submit" method="post">
                                <strong>SELL </strong><i class="glyphicon glyphicon-thumbs-up"></i>$
                            </button>
                        </div>
                        <input type="text" value="{{ '{0:0.2f}'.format(book.get('stevens-pricing', {}).get('new','0.00') - 1.01) }}" class="form-control currency" id="ins_price">
                        <div class="dropdown">
                          <button id="dLabel" data-target="#" href="#" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown_condition" aria-haspopup="true" aria-expanded="false">Condition
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                              <li><a href="#">Poor</a></li>
                              <li><a href="#">Acceptable</a></li>
                              <li><a href="#">Good</a></li>
                              <li><a href="#">Excellent</a></li>
                          </ul>
                        </div>
                    </div>
                </form>
                <div id="success_alert" class="alert alert-success alert-dismissible" role="alert" style="display:none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong id="notice_success"> </strong>
                </div>
                <div id="error_alert" class="alert alert-danger alert-dismissible" role="alert" style="display:none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong id="notice_error"> </strong>
                </div>
                {% else %}
                    <button type="button" class="btn stv-background btn-lg btn-block">
                        Login to sell yours!
                    </button>
                {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="seller_list" class="table table-bordered table-condensed table-hover table-responsive" data-toggle="table">
                    <thead class="stv-background">
                    <tr>
                        <th data-field="transaction" data-sortable="true">
                            Transaction
                        </th>
                        <th data-field="seller" data-sortable="true">
                            Seller
                        </th>
                        <th data-field="rating" data-sortable="true">
                            Rating
                        </th>
                        <th data-field="date_listed" data-sortable="true">
                            Date listed
                        </th>
                        <th data-field="condition" data-sortable="true">
                            Condition
                        </th>
                        <th data-field="price" data-sortable="true">
                            Price
                        </th>
                        <th data-field="buy">
                            Purchase
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for seller in seller_list %}
                        {% if seller.price < book.get('stevens-pricing', {}).get('new', '0.00') %}
                        <tr class="success">
                        {% else %}
                        <tr class="warning">
                        {% endif %}
                            <td>
                                {{ seller.get('_id', "") }}
                            </td>
                            <td>
                                {{ seller.get('seller', "") }}
                            </td>
                            <td>
                                {{ seller.seller_rating.get('rating', "") }}
                            </td>
                            <td>
                                {{ seller.get('date_listed', "") }}
                            </td>
                            <td>
                                {{ seller.get('condition', "") }}
                            </td>
                            <td>
                                {{ seller.get('price', "") }}
                            </td>
                            <td>
                                <button type="button" data-id="{{ seller.get('_id', '') }}" class="btn btn-default editButton">Buy!</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Form -->
                <form id="userForm" method="post" class="form-horizontal" style="display:none;">
                    <div class="col-xs-12">
                        <ul class="list-group">
                            <li class="list-group-item">You will be in negotiation with the seller. You will need to</li>
                            <li class="list-group-item">Meet up at the <input type="text" class="form-control" name="email" /> at 5PM on Tomorrow</li>
                            <li class="list-group-item">Exchange the item</li>
                            <li class="list-group-item">Log back in to close transaction</li>
                        </ul>
                    </div>
                    <div class="form group">
                        <label class="col-xs-2 control-label">Transaction</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="name" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-8">
                            <button type="submit" id="buy_now" class="btn btn-default">Buy!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
