{% extends 'template.html' %}
{% block title %}About the Stevens Book Marketplace{% endblock %}
{% block content %}
    <!--    Using http://plentz.github.io/jquery-maskmoney/
    -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                {% set thumnail_url = book.get('google-metadata', {}).get('volumeInfo', {}).get('imageLinks', {} ).get("thumbnail") %}

                {% if thumnail_url %}
                    <div class="media-left">
                        <img class="media-object" src="{{ thumnail_url }}" alt="...">
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>
                    <strong>{{ book.get('google-metadata', {}).get('volumeInfo', {})['title'] | default(book.get('stevens-metadata', {})['book-title'], True) }}</strong>
                </h3>
                <dl>
                    <dt>
                        {{ book.get('google-metadata', {}).get('volumeInfo', {})['subtitle'] }}
                    </dt>
                    <dd>
                        <small> {{ book.get('google-metadata', {}).get('volumeInfo', {})['description'] | default("No Description Available", True)}} </small>
                    </dd>
                    <dd>
                        <small>Pages: {{ book.get('google-metadata', {}).get('volumeInfo', {})['pageCount'] | default("N/A", True) }} </small>
                    </dd>
                    <!--
                    ISBN Identifiers removed
                    google-metadata.volumeInfo.industryIdentifiers.0.identifier are not consistent
                    some alternate incorrectly, books ISBN 0132431718 has a completely incorrect identifier
                    -->
                </dl>
            </div>
            <div class="col-md-2">
                {% if amazon_listing %}
                    <a role="button" class="btn btn-default btn-lg btn-block" href="{{ amazon_listing.get('url') }}" target="_blank">
                        Amazon: {{ amazon_listing.get('prices')[0] }}
                    </a>
                {% endif %}
                <button type="button" class="btn btn-default btn-lg btn-block btn-stevens text-wrap">
                    <small>Stevens Price New: ${{ '{0:0.2f}'.format(book.get('stevens-pricing', {}).get('new', '0.00')) }}</small>
                </button>
                {% if current_user.is_authenticated %}
                 <form class="form-inline">
                    <div class="input-group stevens-sell">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-md" id="btn_sell_book" type="submit" method="post">
                                <strong>SELL </strong><i class="glyphicon glyphicon-thumbs-up"></i>$
                            </button>
                        </div>
                        <input type="text" value="{{ '{0:0.2f}'.format(book.get('stevens-pricing', {}).get('new','0.00') - 1.01) }}" class="form-control currency" id="ins_price">
                        <select class="form-control book-condition">
                            <option>Poor</option>
                            <option>Acceptable</option>
                            <option>Good</option>
                            <option>Excellent</option>
                        </select>
                    </div>
                </form>
                <div id="success_alert" class="alert alert-success alert-dismissible" role="alert" style="display:none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong id="notice_success"> </strong>
                </div>
                <div id="error_alert" class="alert alert-danger alert-dismissible" role="alert" style="display:none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong id="notice_error"> </strong>
                </div>
                {% else %}
                    <button type="button" class="btn stevens-bg btn-lg btn-block">
                        Login to sell yours!
                    </button>
                {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="seller_list" class="table table-bordered table-condensed table-hover table-responsive" data-toggle="table">
                    <thead class="stevens-bg">
                    <tr>
                        <th data-field="transaction" data-sortable="true">
                            Transaction
                        </th>
                        <th data-field="seller" data-sortable="true">
                            Seller
                        </th>
                        <th data-field="rating" data-sortable="true">
                            Rating
                        </th>
                        <th data-field="date_listed" data-sortable="true">
                            Date listed
                        </th>
                        <th data-field="condition" data-sortable="true">
                            Condition
                        </th>
                        <th data-field="price" data-sortable="true">
                            Price
                        </th>
                        <th data-field="buy">
                            Purchase
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for seller in seller_list %}
                        {% if seller.price < book.get('stevens-pricing', {}).get('new', '0.00') %}
                        <tr class="success">
                        {% else %}
                        <tr class="warning">
                        {% endif %}
                            <td>
                                {{ seller.get('_id', "") }}
                            </td>
                            <td>
                                {{ seller.get('seller', "") }}
                            </td>
                            <td>
                                {{ seller.get('seller', "") | current_rating }}
                            </td>
                            <td>
                                {{ seller.get('date_listed', "") }}
                            </td>
                            <td>
                                {{ seller.get('condition', "") }}
                            </td>
                            <td>
                                {{ seller.get('price', "") }}
                            </td>
                            <td>
                                <button type="button" data-id="{{ seller.get('_id', '') }}" class="btn btn-default buy_button">Buy!</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Form -->
                <form id="negotiation_form" method="post" class="form-horizontal" style="display:none;">
                    <div class="row">
                        <div class="col-xs-12">
                            You will be in negotiation with the seller. You will need to select the meeting.
                            <ul class="list-group">
                            <li class="list-group-item">Where? <select class="form-control meet-location">
                                        <option>Library</option>
                                        <option>Howe Building</option>
                                        </select>
                                </li>
                                <li class="list-group-item">When?
                                    <select class="form-control meet-day">
                                        <option value="0">Today</option>
                                        <option value="1">Tomorrow</option>
                                        <option value="2">Day After</option>
                                    </select>
                                </li>
                                <li class="list-group-item">Time?
                                <select class="form-control meet-time">
                                    <option>9 AM</option>
                                    <option>10 AM</option>
                                    <option>11 AM</option>
                                    <option>12 AM</option>
                                    <option>1 PM</option>
                                    <option>2 PM</option>
                                    <option>3 PM</option>
                                    <option>4 PM</option>
                                    <option>5 PM</option>
                                </select>
                                </li>
                            <li class="list-group-item">Exchange the item</li>
                            <li class="list-group-item">Log back in to close transaction</li>
                            </ul>
                            <div class="form group">
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="transaction_id" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-8">
                            <button type="submit" class="btn btn-default">Buy!</button>
                        </div>
                    </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
