{% extends 'template.html' %}
{% block title %}About the Stevens Book Marketplace{% endblock %}
{% block content %}
    <!--    A lot of CSS adjustments need to be made
            Specifically alignment on the buttons and  pagination
    -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                {% set thumnail_url = book.get('google-metadata', {}).get('volumeInfo', {}).get('imageLinks', {} ).get("thumbnail") %}

                {% if thumnail_url %}
                    <div class="media-left">
                        <img class="media-object" src="{{ thumnail_url }}" alt="...">
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>
                    <strong>{{ book.get('google-metadata', {}).get('volumeInfo', {}).get('title') | default(book.get('stevens-metadata', {}).get('books-title'), True) }}</strong>
                </h3>
                <dl>
                    <dt>
                        {{ book.get('google-metadata', {}).get('volumeInfo', {}).get('subtitle', "") }}
                    </dt>
                    <dd>
                        <small> {{ book.get('google-metadata', {}).get('volumeInfo', {}).get('description', '') }} </small>
                    </dd>
                    <dd>
                        <small>
                            Pages: {{ book.get('google-metadata', {}).get('volumeInfo', {}).get('pageCount', '') }} </small>
                    </dd>
                    <!--
                    ISBN Identifiers removed
                    google-metadata.volumeInfo.industryIdentifiers.0.identifier are not consistent
                    some alternate incorrectly, books ISBN 0132431718 has a completely incorrect identifier
                    -->
                </dl>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-default btn-lg btn-block" href="{{ amazon_listing.get('url') }}" target="_blank">
                    Amazon: {{ amazon_listing.get('prices')[0] }}
                </a>
                <button type="button" class="btn btn-default btn-lg btn-block">
                    Stevens Price New: ${{ book.get('stevens-pricing', {}).get('new', '0.00')  }}
                </button>
                {% if current_user.is_authenticated %}
                 <form class="form-inline">
                    <div class="input-group input-lg stv-input-sell">
                        <div class="input-group-btn">
                            <button class="btn btn-default" id="btn_sell_book" type="submit" method="post">
                                <strong>SELL </strong><i class="glyphicon glyphicon-thumbs-up"></i> $
                            </button>
                        </div>
                        <input type="number" value="{{ book.get('stevens-pricing', {}).get('new','0.00') - 1.00}}" min="0" step="0.01" data-number-to-fixed="2"
                           data-number-stepfactor="100" class="form-control currency" id="ins_price">
                    </div>
                </form>
                <div id="success_alert" class="alert alert-success alert-dismissible" role="alert" style="display:none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong id="notice_success"> </strong>
                </div>
                <div id="error_alert" class="alert alert-danger alert-dismissible" role="alert" style="display:none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong id="notice_error"> </strong>
                </div>
                {% else %}
                    <button type="button" class="btn stv-background btn-lg btn-block">
                        Login to sell yours!
                    </button>
                {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="seller_list" class="table table-bordered table-condensed table-hover table-responsive" data-toggle="table">
                    <thead class="stv-background">
                    <tr>
                        <th data-field="number" data-sortable="true">
                            Seller
                        </th>
                        <th data-field="seller" data-sortable="true">
                            Rating
                        </th>
                        <th data-field="date" data-sortable="true">
                            Date listed
                        </th>
                        <th data-field="price" data-sortable="true">
                            Price
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for seller in seller_list %}
                        {% if seller.price < book.get('stevens-pricing', {}).get('new', '0.00') %}
                        <tr class="success">
                            <td>
                                {{ seller.get('seller', "") }}
                            </td>
                            <td>
                                {{ seller.seller_rating.get('rating', "") }}
                            </td>
                            <td>
                                {{ seller.get('date', "") }}
                            </td>
                            <td>
                                {{ seller.get('price', "") }}
                            </td>
                        </tr>
                        {% else %}
                        <tr class="warning">
                            <td>
                                {{ seller.get('seller', "") }}
                            </td>
                            <td>
                                {{ seller.seller_rating.get('rating', "") }}
                            </td>
                            <td>
                                {{ seller.get('date', "") }}
                            </td>
                            <td>
                                {{ seller.get('price', "") }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
